/*
    Robin Lamb
    Styles for Portfolio
    3/03/2021
*/

/* Make images responsive and add shadow*/
img {
  max-width:100%;
  height:auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 15px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.6) 10px 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 15px;
}

.robinNavBar{
  background-color:rgb(3, 26, 56);
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 15px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.6) 10px 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 15px;
}

/*Make attached butterfly background for home page that will stay put when scrolling*/
#butterflybackground {
  width:100%;
  height:100vh;
  background-image: url("images/butterflies.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;

}



#headerText{
  position:absolute;
  text-align:center;
  color: white;
  width: 100%;
  top: 50%;

  font-family: 'Marcellus', serif;
  font-size: 400%;

}


#headerTextBackground{
  background-color:rgb(100, 102, 107);
  background-color:rgba(100,102,107, .6);
  padding: 10px;

}

.informationContent h2 {
  color:rgb(81, 97, 117);
  text-align:left;
  font-size:300%;
}

.informationContent{
  width: 100%;
  background-color: white;
  padding-left:5%;
  padding-right:5%;
  padding-top:10%;
  padding-bottom:5%;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) -10px -10px 20px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.6) -10px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.6) -10px -10px 20px;

}

.informationContent p {
   padding-top: 2%;
   font-size: 150%;
}


.blueContentHolder{
  clear: left;
  background-color:rgb(13, 89, 184);
  padding-top:5%;
  padding-bottom:10%;
}

body {
  background-color:rgb(13, 89, 184);
}

.blueHeader{
  background-color:rgb(13, 89, 184);
  padding-top:10%;
}

#PRSPageImage {
  max-width: 30%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

#DogClassifierImage1 {
  max-width: 100%;
  max-height: 100%;
  clear: left;
  float:left;
  margin-left:10%;
  margin-right: 5%;
  margin-bottom: 5%;

}

#DogClassifierInfo {
  padding-bottom: 20%;
}
#projectHeader{
  color:white;
  font-size:300%;
  text-align:center;
  margin-bottom:5%;
}

.projectTitle{
  color:white;
  font-size:300%;
  text-align:center;
  margin-bottom:5%;
}



/* Make Youtube videos responsive*/
.videoHolder {
  width:100%;
  height: 0;
  padding-bottom:56.25%;
  position:relative;



}

.videoHolder iframe {
  position:absolute;
  height:100%;
  width:100%;
  margin-bottom: 5%;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 15px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.6) 10px 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 15px;
}

#carouselHolder {
  display: block;
  width: 70%;
  height: auto;
  margin: auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 15px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.6) 10px 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 15px;
}


/* Change some values on smaller devices to make them look better*/
@media (max-width: 700px){
  #headerText{
    padding: 5px;
    font-size:200%;
  }
  #carouselHolder{
    width: 90%;
  }

  .informationContent p{

    font-size:100%;
  }

  #projectHeader{
    font-size:200%;
  }


  .blueHeader{
    padding-top:15%;
  }

  .projectTitle{
    font-size:150%;
  }

  #PRSPageImage {
    max-width: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }

  #DogClassifierImage1 {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 5%;

  }

  #DogClassifierInfo p {
    clear:both;
  }

  .informationContent h2 {
    clear: left;
    color:rgb(81, 97, 117);
    text-align:left;
    font-size:150%;
    padding-bottom: 2%;
  }



}

/* Override backgroung-image on carousel arrows to get blue color instead of default white*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
